---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-143">
    <div class="cs-container">
        <h1 class="cs-title">Plumbing & Maintenance Experts in Oklahoma</h1>
        <p class="cs-text">
            When you have a plumbing issue, you need a reliable plumber committed to outstanding quality and genuine care.
        </p>
        <a href="" style="color: white;" class="cs-button-solid">Book Today</a>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="assets/images/kitchen.webp">
        <source media="(min-width: 601px)" srcset="assets/images/kitchen.jpg">
        <img loading="lazy" decoding="async" src="assets/images/kitchen.jpg" alt="kitchen" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="h-services-143">
    <ul class="cs-card-group">
        <li class="cs-item">
            <picture class="cs-icon">
                <img loading="lazy" decoding="async" style="filter: invert(1)" src="assets/svgs/pipe.svg" alt="icon" width="52" height="52" aria-hidden="true">
            </picture>
            <h2 class="cs-title">Water Leak Detection</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </li>
        <li class="cs-item">
            <picture class="cs-icon">
                <img loading="lazy" decoding="async" style="filter: invert(1)" src="assets/svgs/house.svg" alt="icon" width="52" height="52" aria-hidden="true">
            </picture>
            <h2 class="cs-title">Residential Repairs</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </li>
        <li class="cs-item">
            <picture class="cs-icon">
                <img loading="lazy" decoding="async" style="filter: invert(1)" src="assets/svgs/shower.svg" alt="icon" width="52" height="52" aria-hidden="true">
            </picture>
            <h2 class="cs-title">Water Heater Installations</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </li>
        <li class="cs-item">
            <picture class="cs-icon">
                <img loading="lazy" decoding="async" style="filter: invert(1)" src="assets/svgs/sink.svg" alt="icon" width="52" height="52" aria-hidden="true">
            </picture>
            <h2 class="cs-title">Bathrooms and Kitchens</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </li>
    </ul>
</section>
                                

    <!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-564">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="assets/images/service-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="assets/images/service.jpg">
            <img loading="lazy" decoding="async" src="assets/images/service.jpg" alt="computer" width="630" height="528" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Common Services</span>
            <h2 class="cs-title">Your <span class="cs-color">Company</span></h2>
            <h3 class="cs-h3">Company Slogan</h3>
            <p class="cs-text">
                Here you could put a brief description of common repairs and maintenance your company does well. Our SEO Copywriters will include key words here for terms people are searching for.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" style="filter: hue-rotate(239deg) contrast(15.5);" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg" alt="arrow" width="16" height="18">
                    Running Toilet
                </li>
                <li class="cs-li">
                    <img class="cs-icon" style="filter: hue-rotate(239deg) contrast(15.5);" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg" alt="arrow" width="16" height="18">
                    Leaky Faucet
                </li>
                <li class="cs-li">
                    <img class="cs-icon" style="filter: hue-rotate(239deg) contrast(15.5);" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg" alt="arrow" width="16" height="18">
                    Plumbing Inspection
                </li>
            </ul>
            <a href="/services" class="cs-button-solid">Services</a>
        </div>
    </div>
</section>
                                

    

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                Here is your chance to show the world what other people think about you. Using Google, Yahoo, etc. reviews we can show customers you are trustworthy.
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                    </p>
                    <span class="cs-reviewer">
                        Jon Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                    </p>
                    <span class="cs-reviewer">
                        Jane Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
            </ul>
            <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Our Reviews</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}